<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <div id="header">
            <h1>LOGIN</h1>
        </div>
        <div id="username">
            <input type="text" placeholder="Enter username" v-model="username">
        </div>
        <div id="password">
            <input type="password" placeholder="Enter password" v-model="password">
        </div>
        <div id="button">
            <input type="submit" v-on:click="login()" value="LOGIN"></button>
        </div>
    </div>
</body>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            username: '',
            password: ''
        },
        methods: {
            login() {
                const obj = {
                    username: this.username,
                    password: this.password
                }
                fetch('http://localhost:4000/api/login', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(obj)
                }).then(res => {
                    if (res.status === 200) {
                        window.location.href = "/dashboard"
                    } else {
                        res.json().then(data => alert(data));
                    }
                })
            }
        }
    })
</script>

</html>