<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <div id="header">
            <h1>SIGN UP</h1>
        </div>
        <div id="username">
            <input type="text" placeholder="Enter name" v-model="personName">
        </div>
        <div id="username">
            <input type="text" placeholder="Enter email" v-model="email">
        </div>
        <div id="password">
            <input type="password" placeholder="Enter password" v-model="password">
        </div>
        <div id="password">
            <input type="password" placeholder="Confirm password" v-model="password2">
        </div>
        <div id="button">
            <input id="signup" type="submit" v-on:click="signUp()" value="SIGN UP" />
        </div>
        <div id="footer">
            Already have an account? <a href="/login">Login</a>
        </div>
    </div>
</body>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            personName: '',
            email: '',
            password: '',
            password2: ''
        },
        methods: {

            signUp() {
                const obj = {
                    personName: this.personName,
                    email: this.email,
                    password: this.password,
                    password2: this.password2
                }
                console.log(obj);
                fetch('/api/signup', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(obj)
                }).then(res => {
                    if (res.status === 201) {
                        window.location.href = '/login'
                    } else {
                        res.json().then(data => toastr.error(data));
                    }
                })
            }



        },
        mounted() {
            toastr.options.timeOut = 4 * 1000;
            toastr.options.showMethod = 'slideDown';
        }
    })
</script>

</html>